{% extends 'base.html'  %}

{% block content %}
<h1>{{user.first_name}} {{user.last_name}}  <a href="/users/{{user.username}}/feedback/add"> Add feedback !</a></h1>

<div>
    <p>Username : {{user.username}}</p>
   
    <p>Email : {{user.email}}</p>
    <div>
    <h3>{{user.first_name}}'s Feedback :</h3>
    {% for feedback in all_feedback %}
        {% if feedback.username == user.username%}
   
            <p><h4><b>{{feedback.title}}</b></h4></p>
            <p>{{feedback.content}}</p>
    
        {% endif %}
    {% endfor %}
    </div>
    <form action="/users/{{user.username}}/delete" method="POST">

        <button>Delete account</button>
    </form>
    
</div>

{% endblock %}